@charset "UTF-8";
.photo{
  background-image: url(https://github.com/ochiaimiho/LayoutParts-Part2/blob/master/q8/image/coffee-background.jpg?raw=true);
  height: 500px;
}

.photo2{
  background-image: url(https://github.com/ochiaimiho/LayoutParts-Part2/blob/master/q8/image/coffee-background.jpg?raw=true);
  height: 500px;
  background-repeat: no-repeat;
}

.photo3{
  background-image: url(https://github.com/ochiaimiho/LayoutParts-Part2/blob/master/q8/image/coffee-background.jpg?raw=true);
  background-size: cover;
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.photo4{
  background-image: url(https://github.com/ochiaimiho/LayoutParts-Part2/blob/master/q8/image/coffee-background.jpg?raw=true);
  height: 500px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}