@charset "UTF-8";
.header{
  background:#388bff;
  width: 100%;
  position: fixed;
}
.inner{
  display: flex;
  width: 1100px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.logo{
  padding: 30px 0;
}
.logo a{
  font-weight: bold;
  font-size: 24px;
  color: #f2ff7b;
  text-decoration: none;
}

.menu a{
  color:#ffff;
  text-decoration: none;
  padding: 30px;
}
.l-menu{
  display: flex;
  justify-content: space-between;
}
.nav li{
  list-style: none;
}