@charset "UTF-8";
.main{
  position: relative;
  display: inline-block;
  padding: 20px;
  max-width: 500px;
  font-size: 16px;
  background: #fad296;
  border-radius: 15px;
  border: solid 5px #8f5a0a;
}

.main::after{
  content:"";
  position: absolute;
  top: 100%;
  left: 10%;
  margin-left: -35px;
  border: 15px solid transparent;
  border-top: 15px solid #fad296;
}

.main::before{
  content:"";
  position: absolute;
  top: 100%;
  left: 10%;
  margin-left: -40px;
  border: 20px solid transparent;
  border-top: 20px solid #8f5a0a;
}

.main p{
  margin:0;
  padding: 0;
}